{{>headers}}
<body>
  <div class="container">
    <input type="checkbox" id="flip">
    <div class="cover">
      <div class="front">
        <img src="/images/backImg.jpg" alt="">
        <div class="text">
          <span class="text-1">Every old friend<br> reminds adventure</span>
          <span class="text-2">Let's get your account back</span>
        </div>
      </div>
    </div>
    <div class="forms">
      <div class="form-content">
        <div class="login-form">
          <div class="title">Forgot password</div>
          <form action="/update" method="POST">
            <div class="input-boxes">
              <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input type="text" placeholder="Enter your email" name="email" required>
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Enter your New password" name="password" required>
              </div>
              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Confirm password" name="cpassword" required>
              </div>
              <div class="button input-box">
                <input type="submit" value="Update">
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>

</html>